{% extends "Books/base.html"%}
{%load static%}
{% load crispy_forms_tags %}
{% block slider %}
    <!-- Main Wrapper Start -->
    <div class="wrapper">

        <!-- Breadcrumb area Start -->
        <section class="page-title-area bg-color" data-bg-color="#f4f4f4">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="container" style="text-align:center">
                            <img class="rounded-circle" src="{{user.user_profile.profile_image.url}}" alt='user profile img' width=200 height=200>
                        </div>
                        {% if user.first_name|length != 0 and user.last_name|length != 0%}
                            <h1 class="page-title">{{user.first_name}} {{user.last_name}}</h1>
                            <ul class="breadcrumb">
                                <li><a href="/home">Home</a></li>
                                <li class="current"><span>{{user.first_name}} {{user.last_name}}</span></li>
                            </ul>
                        {% else %}
                            <h1 class="page-title">{{user.username}}</h1>
                            <ul class="breadcrumb">
                                <li><a href="/home">Home</a></li>
                                <li class="current"><span>{{user.username}}</span></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb area End -->

        <!-- Main Content Wrapper Start -->
        <div class="main-content-wrapper">
            <div class="page-content-inner ptb--80 ptb-md--60 pb-sm--55">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="user-dashboard-tab flex-column flex-md-row">
                                <div class="user-dashboard-tab__head nav flex-md-column" role="tablist" aria-orientation="vertical">
                                    <button type="button" class="nav-link active" data-bs-toggle="tab" role="tab" data-bs-target="#dashboard" aria-controls="dashboard" aria-selected="true">Dashboard</button>
                                    <button type="button" class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#orders" aria-controls="orders" aria-selected="true">Borrowed Books</button>
                                    <button type="button" class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#accountdetails" aria-controls="accountdetails" aria-selected="true">Account Details</button>
                               
                                
                                
                                        <!-- Logout link -->
                                    <a class="nav-link" href="/accounts/logoutt">Logout</a>
                                </div>
                                <div class="user-dashboard-tab__content tab-content">
                                    {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <div class="tab-pane fade show active" id="dashboard">
                                        <p>Hello <strong>{{user.first_name}}</strong> (not <strong>{{user.first_name}}</strong>? <a href="{% url 'accounts:logoutt'%}">Log out</a>)</p>
                                        <p>From your account dashboard. you can easily check &amp; view your recent borrowed books and .edit your password and account details.</p>
                                    </div>


                                    <div class="tab-pane fade" id="orders">
                                        <div class="col-xl-9 col-lg-8 order-lg-2 mb-md--50">
                                            <div class="shop-products">
                                                <div class="row">
                                                    {% if Books|length == 0 %}
                                                        <h1 class="mx-auto" style="color: red; text-align: center;">You Have Not Borrowed Any Book</h1>
                                                    {% else %}
                                                        {% for book in Books %}
                                                            {%if book.available_number_of_copies != 0 %}
                                                                <div class="card" style="width: 20rem;">
                                                                    <img class="card-img-top" src='{{book.image.url}}'alt="Card image cap">
                                                                    <div class="card-body">
                                                                        <h5 class="card-title">Book Title:{{book.title}}</h5>
                                                                        <h5 class="card-title">Book Author:{{book.author.name}}</h5>
                                                                        <h5 class="card-title">Book Description:</h5>
                                                                        <p class="card-text">{{book.description}}</p>
                                                                        {% if user.is_authenticated %}
                                                                            {% if user in book.user.all %}
                                                                                <button class='btn-primary mx-auto mt-3' style='display: block; border-radius:10px'><a href="/home/return/{{book.slug}}">Return</a></button>
                                                                            {% else %}
                                                                                <button class='btn-secondary mx-auto mt-3' style='display: block; border-radius:10px'><a href="/home/borrow/{{book.slug}}">Borrow</a></button>
                                                                            {% endif %}
                                                                        {%endif%}
                                                                    </div>
                                                                </div>
                                                            {%endif%}
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>

                                    <!--user update data form -->
                                    <div class="tab-pane fade" id="accountdetails">
                                        <form method="post" class="form" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div id="div_id_username" class="form-group"> 
                                                <label for="id_username" class=" requiredField">
                                                    Username<span class="asteriskField">*</span> 
                                                </label> 
                                                <div class=""> 
                                                    <input type="text" name="username" maxlength="150" class="textinput textInput form-control" required id="id_username" value="{{user.username}}"> <small id="hint_id_username" class="form-text text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small> 
                                                </div> 
                                            </div> 
                                            <div id="div_id_first_name" class="form-group"> 
                                                <label for="id_first_name" class="">
                                                    First name
                                                </label> 
                                                <div class=""> 
                                                {% if user.first_name != None%}
                                                    <input type="text" name="first_name" maxlength="150" class="textinput textInput form-control" id="id_first_name" value="{{user.first_name}}">
                                                {% else %}
                                                    <input type="text" name="first_name" maxlength="150" class="textinput textInput form-control" id="id_first_name">
                                                {% endif %}
                                                </div> 
                                            </div>
                                            <div id="div_id_last_name" class="form-group"> 
                                                <label for="id_last_name" class="">
                                                    Last name
                                                </label> 
                                                <div class=""> 
                                                    {% if user.last_name != None %}
                                                        <input type="text" name="last_name" maxlength="150" class="textinput textInput form-control" id="id_last_name" value="{{user.last_name}}"> 
                                                    {% else %}
                                                        <input type="text" name="last_name" maxlength="150" class="textinput textInput form-control" id="id_last_name"> 
                                                    {% endif %}
                                                </div> 
                                            </div> 
                                            <div id="div_id_email" class="form-group"> 
                                                <label for="id_email" class="">
                                                    Email address
                                                </label> 
                                                <div class=""> 
                                                    <input type="email" name="email" maxlength="254" class="emailinput form-control" id="id_email" value="{{user.email}}"> 
                                                </div> 
                                            </div>

                                            

                                            <div id="div_id_profile_image" class="form-group">
                                                <label for="id_profile_image" class="">
                                                    Profile image
                                                </label> 
                                                <div class=""> 
                                                    {% if profile.profile_image != None %}
                                                        <small style="color:lightgreen;">{{profile.profile_image.url}}</small><br>
                                                    {% endif %}
                                                    <input type="file" name="profile_image" accept="image/*" class="clearablefileinput form-control-file" id="id_profile_image"> 
                                                </div>
                                            </div> 
                                            <div id="div_id_phone_number" class="form-group"> 
                                                <label for="id_phone_number" class="">
                                                    Phone number
                                                </label> 
                                                <div class="">
                                                    {% if profile.phone_number != None%}
                                                        <input type="tel" name="phone_number" maxlength="128" class="textinput textInput form-control" id="id_phone_number" value="{{profile.phone_number}}"> 
                                                    {% else %}
                                                        <input type="tel" name="phone_number" maxlength="128" class="textinput textInput form-control" id="id_phone_number"> 
                                                    {% endif %}
                                                </div> 
                                            </div> 
                                            <div id="div_id_gender" class="form-group"> 
                                                <label for="id_gender" class=" requiredField">
                                                    Gender
                                                    <span class="asteriskField">*</span> 
                                                </label> 
                                                <div class=""> 
                                                    <select name="gender" class="select form-control" required id="id_gender"> 
                                                    {% if profile.gender == 'M'%}
                                                        <option value="M">Male</option> 
                                                        <option value="F">Female</option>
                                                    {% elif profile.gender == 'F'%}  
                                                        <option value="F">Female</option>
                                                        <option value="M">Male</option>
                                                    {% else %}
                                                        <option value="" selected>---------</option>
                                                        <option value="M">Male</option> 
                                                        <option value="F">Female</option>
                                                    {% endif %}
                                                    </select> 
                                                </div> 
                                            </div> 
                                            <div id="div_id_birthday" class="form-group"> 
                                                <label for="id_birthday" class="">
                                                    Birthday
                                                </label>
                                                <div class=""> 
                                                    {% if profile.birthday != None %}
                                                        <input type="date" name="birthday" class="dateinput form-control" id="id_birthday" value="{{profile.birthday}}"> 
                                                    {% else %}
                                                        <input type="date" name="birthday" class="dateinput form-control" id="id_birthday"> 
                                                    {% endif %}
                                                </div> 
                                            </div> 
                                            <div id="div_id_address" class="form-group"> 
                                                <label for="id_address" class="">
                                                    Address
                                                </label> 
                                                <div class=""> 
                                                    {% if profile.address != None %}
                                                        <input type="text" name="address" maxlength="300" class="textinput textInput form-control" id="id_address" value="{{profile.address}}"> 
                                                    {% else %}
                                                        <input type="text" name="address" maxlength="300" class="textinput textInput form-control" id="id_address"> 
                                                    {% endif %}
                                                </div> 
                                            </div>
                                            
                                            <div id="div_id_change_password" class="form-group"> 
                                                <div class=""> 
                                                    <a href="{% url 'password_change' %}">Change Password?</a>
                                                </div> 
                                            </div>

                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form__group">
                                                        <input type="submit" value="Save Changes" style="display:block;" class="btn mt-3 mx-auto">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->

        <!-- Global Overlay Start -->
        <div class="global-overlay"></div>
        <!-- Global Overlay End -->

        <!-- Scroll To Top Start -->
        <a class="scroll-to-top" href=""><i class="fa fa-angle-double-up"></i></a>
        <!-- Scroll To Top End -->
    </div>
    <!-- Main Wrapper End -->
{%endblock%}
